/* .mainTable{ border: solid 1px blue; }

.thead_sub{
    border-bottom: solid 3px red !important;
    background: aliceblue !important;
    color: black !important;
    font-weight: bold !important;


}

.tbody_sub{
  padding: 10px !important;
  border: solid 1px gray;
  background: papayawhip;


} */
